@tailwind base;

ul {
  @apply list-disc list-inside;
}

@font-face {
  font-family: "Panton";
  src: url("../storage/fonts/panton-bold-webfont.woff2") format("woff2"),
    url("../storage/fonts/panton-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Panton";
  src: url("../storage/fonts/panton-light-webfont.woff2") format("woff2"),
    url("../storage/fonts/panton-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Panton";
  src: url("../storage/fonts/panton-regular-webfont.woff2") format("woff2"),
    url("../storage/fonts/panton-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html {
  font-family: "Panton", "-apple-system", "Roboto", "Helvetica", "Arial";
}

@tailwind components;

#sidenav {
  overflow-x: hidden;
  width: 0;
  padding: 0;
  transition: all 0.3s ease-in;
}
#sidenav #close {
}
#app {
  transition: all 0.3s ease-in;
}
.btn {
  @apply text-white bg-gray-500 uppercase rounded px-8 py-2;
}
.btn:hover {
  @apply bg-gray-600;
}
.btn-primary {
  @apply bg-palam-500;
}
.btn-primary:hover {
  @apply bg-palam-700;
}
.item {
  display: none;
}
.show > .item {
  display: block;
}

.menu-item {
  @apply block uppercase border-b border-palam-500 py-2 text-gray-100;
}
.popup-fixed {
  position: fixed;
  width: 100%;
  top: 200px;
  left: 0;
}
.code {
  @apply py-2 px-4 text-gray-900 bg-gray-400 border border-gray-500  overflow-auto;
}
@screen md {
  .popup-fixed {
    position: fixed;
    width: 800px;
    top: 300px;
    left: 50%;
    margin-left: -400px;
  }
}

@tailwind utilities;
